html, body{
  
    background-color: rgb(8, 8, 17);
    font-family: 'Times New Roman', Times, serif;

    margin: 0;
    height: 100%;
}
 .logo{
    background-color: rgb(5, 5, 10);
    position: fixed ;
    width: 100px;
    padding-left:0%;
    padding-right: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    z-index: 9;
 }
  
 p{
    top:10px;
    position: relative;
    color: white;

    margin-right: 100px;
    text-align: justify;
    padding-right: 25px;
}

/* galeria */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 151px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


 /*BARRA DE NAVAGACIÓ*/

 .dropbtn {
    background-color: rgb(5, 5, 10);
    color: white;
    padding: 16px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    color: rgb(63, 5, 5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(230, 96, 96);
    text-shadow: 0px 0px 3px rgb(230, 96, 96);
  }

  .dropdown {
    position: relative;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(5, 5, 10);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px red;
    z-index: 1;
  }
    
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  #myDropdown{
      left: 60px;
  }
 nav{
    color: white;
    font-weight: bold;
    position: fixed;
    background-color:  rgb(5, 5, 10);
    margin-top: 55px;
    width: 100vw;
    text-align: center;
    left: 0px;
    font-size: 20px;
   
    z-index: 9;
 }
 nav a{
    color: white;
    text-decoration: none;
    padding-top: 0px;   
    
 }  

  
li{
    display: inline;
    padding: 80px;
    
}
   
.nav2 li{
    display: inline;
    padding-top: 0px;
    
 }
 nav a:hover{
     color: rgb(63, 5, 5);
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: rgb(230, 96, 96);
     text-shadow: 0px 0px 3px rgb(230, 96, 96);
 }



nav a{
    display: inline-block;
    text-decoration: none;
}

nav a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:  rgb(63, 5, 5);
    transition: width .3s;
    
}
.home{
    color: rgb(63, 5, 5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(230, 96, 96);
    text-shadow: 0px 0px 3px rgb(230, 96, 96);

}

nav a:hover::after {
    width: 100%;
    border: solid 0.5px;
    border-color: rgb(230, 96, 96);
     -webkit-border-color: rgb(230, 96, 96);
   box-shadow: 0px 0px 3px rgb(230, 96, 96);
}

.photo1{
    width: 100%;
    
}

footer{
    background-color: black;
    padding: 1px;
    color: #ffffff;
    text-align: center;
    
}
footer h2{
    color: rgb(63, 5, 5);
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: rgb(230, 96, 96);
}
footer p{
    text-align: center;
    margin-left: 120px;
}

@media screen and (max-width: 900px) {
    body{
        font-size: 15px;
    }

    .logo{
        background-color: rgb(5, 5, 10);
        position: fixed ;

        left:0px;
        width: 70px;
        z-index: 99;
     }
     nav{
        top: -40px;
        font-size: 15px;



     }

     li{
        display: inline;
        padding: 10px;
        
     }
     .dropbtn {
        background-color: rgb(5, 5, 10);
        color: white;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        border: none;
        font-weight: bold;
        cursor: pointer;
      }
      #myDropdown{
        left: 0px;

    }

 
}
